/* Global styling */

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1;
	font-weight: 400;
	text-align: center;

	color-scheme: light dark;
	/* /* color: rgba(255, 255, 255, 0.87); */
	background-color: black;

	/* font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%; */
}

a {
	font-weight: 500;
	color: #d1bbe5;
	text-decoration: inherit;
}
a:hover {
	color: #6245d5;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 1px;
	border: 1px solid transparent;
	padding: 0.4em 0.4em;
	margin-right: 0.25em;
	margin-left: 0.25em;
	box-shadow: 3px 3px 10px #bb72a8;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #ffffff;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #bb72a8;
	box-shadow: 5px 5px 15px #b83696;
	border: 1px;
	padding: 0.6em;
	border-radius: 2px;
	opacity: 1;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */

.light {
	color: #000000;
	background-color: #ffffff;
}

.dark {
	color: #ffffff;
	/* background-color: #000000; */
}

.nav {
	margin-top: 20px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1em;
}

.nav-link {
	justify-content: space-evenly;
	padding: 1em;
	margin-top: 50px;
}
